<%- include('includes/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-6 align-self-center">
                <h1 class="py-5 float-right display-4">Moc Meetup</h1>
            </div>
            <div class="col-6"><img src="images/logo.png" /></div>
        </div>
        <div class="row py-3">
            <div class="col-12">
                <h4 class="text-center border-bottom border-secondary pb-3">Find the class-free times for your target audience!</h4>
            </div>
        </div>
        <form action="/chart" method="POST">
            <!-- On submit use an ajax call to get all classes from the preset chosen, which the user can then dynamically add to-->
            <div class="row py-3 justify-content-around">
                <div class="col-md-6 col-10">
                    <!-- TODO: Add onchange value that clears this element and adds text to listbox below -->
                    <input list="classroomList" class="form-control" placeholder="Enter a class name"/>
                    <datalist id="classroomList">
                        <% for(let className of classes){ %>
                            <option value="<%= className %>"><%= className %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <!-- Majors & Years (dynamically add readonly input fields copying values using add button)-->
            <div class="row justify-content-around">
                <div class="col-md-6 col-10 px-3">
                    <ul class="border border-dark rounded bg-secondary text-white py-2 mb-0">
                        <!-- PLACEHOLDERS: Will start empty and get classes added using javascript -->
                        <li>
                            <div class="row">
                                <div class="col-9 align-self-center"><input class="classes" name="classes" value="Fundamentals of Computer Science" size=100 readonly></div>
                                <div class="col-3"><button class="btn-secondary form-control" type="button"><i class="fa fa-times"></i></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-9 align-self-center"><input class="classes" name="classes" value="Data Structures and Program Design" size=100 readonly></div>
                                <div class="col-3"><button class="btn-secondary form-control" type="button"><i class="fa fa-times"></i></button></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-9 align-self-center"><input class="classes" name="classes" value="Software Design and Development" size=100 readonly></div>
                                <div class="col-3"><button class="btn-secondary form-control" type="button"><i class="fa fa-times"></i></button></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Presets box -->
            <div class="row justify-content-around">
                <div class="col-md-6 col-10">
                    <select class="form-control" id="inputState" name="major1">
                        <option selected="">Add a Preset...</option>
                        <!-- TODO: Populate presets -->
                        <option>Computer Science Freshman</option>
                        <option>Computer Science Sophomores</option>
                        <option>Business Freshman</option>
                    </select>
                </div>
            </div>
            
            <!-- Submit!-->
            <div class="row justify-content-around py-3 border-bottom border-secondary">
                <input class="btn-primary form-control col-md-2 col-3" type="submit" value="Search" />
            </div>
        </form>
    </div>

<%- include('includes/footer.ejs') %>