html
  head
    // CSS only
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
    title Configure Club Schedule Search
  body
    .container
      .row
        .col-6.align-self-center
          h1.py-5.float-right.display-4 Moc Meetup
        .col-6
          img(src='images/logo.png')
      .row.py-3
        .col-12
          h4.text-center.border-bottom.border-secondary.pb-3 Find the class-free times for your target audience!
      form(action='/chart', method='POST')
        // Days of the week to check
        //- .row.py-3
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#mondayCheck.form-check-input(type='checkbox', checked='', name="isMonday")
        //-     label.form-check-label(for='genedCheck') Monday
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#tuesdayCheck.form-check-input(type='checkbox', checked='', name="isTuesday")
        //-     label.form-check-label(for='tuesdayCheck') Tuesday
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#wednesdayCheck.form-check-input(type='checkbox', checked='', name="isWednesday")
        //-     label.form-check-label(for='wednesdayCheck') Wednesday
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#thursdayCheck.form-check-input(type='checkbox', checked='', name="isThursday")
        //-     label.form-check-label(for='thursdayCheck') Thursday
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#fridayCheck.form-check-input(type='checkbox', checked='', name="isFriday")
        //-     label.form-check-label(for='fridayCheck') Friday
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#saturdayCheck.form-check-input(type='checkbox', name="isSaturday")
        //-     label.form-check-label(for='saturdayCheck') Saturday
        //-   .col-lg-2.col-md-3.col-sm-4.col-6
        //-     input#sundayCheck.form-check-input(type='checkbox', name="isSunday")
        //-     label.form-check-label(for='sundayCheck') Sunday
        // Onchange use an ajax call to update the class list below, which the user can then dynamically add to
        .row.pt-3
          .col-md-6.col-10.pr-0
            select#inputState.form-control(name="major1")
              option(selected='') Use a Preset...
              option Computer Science Freshman
              option Computer Science General
              option Business Freshman
              option Business General
              option Geneds
          .col-md-1.col-2.pl-0
            button.btn-secondary.form-control(type="button")
              i.fa.fa-plus
        
        // Majors & Years (dynamically add readonly input fields copying values using add button)
        .row.pt-3
          .col-md-3.col-5
            select#inputState.form-control(name="major1")
              option(selected='') Choose...
              option ART
              option BUS
              option CPSC
              option ENGR
          .col-md-3.col-5.pr-0
            input#inputClassNumber.form-control(name="classNumber1")
          .col-md-1.col-2.pl-0
            button.btn-secondary.form-control(type="button")
              i.fa.fa-plus
        // TODO: Onchange use an ajax call to update the class list below, which the user can then dynamically add to
        .row.pt-3
          .col-md-6.col-10.pr-0
            input.form-control(name="classes", value="CPSC1100", readonly)
          .col-md-1.col-2.pl-0
            button.btn-secondary.form-control(type="button")
              i.fa.fa-times
        .row.pt-3
          .col-md-6.col-10.pr-0
            input.form-control(name="classes", value="CPSC1110", readonly)
          .col-md-1.col-2.pl-0
            button.btn-secondary.form-control(type="button")
              i.fa.fa-times
        .row.pt-3
          .col-md-6.col-10.pr-0
            input.form-control(name="classes", value="CPSC2100", readonly)
          .col-md-1.col-2.pl-0
            button.btn-secondary.form-control(type="button")
              i.fa.fa-times
        // Submit!
        .row.py-3.border-bottom.border-secondary
          input.btn-primary.form-control.col-md-2.offset-md-4.col-3.offset-3(type='submit', value='Search')
        //  .col-6.border
        //    dl
        //      dt Requirement 1: Create a calendar based on UTC catalog times
        //      dd
        //        s Make sure buildCalendar works
        //      dd
        //        s Make chart.pug script to translate calendar dictionary
        //      dd Let user define list of classes input in front-end
        //      dd Create presets txt files with class names
        //      dd Make app.js run scrapper if the json files don't exist
        //    dl
        //      dt Requirement 2: Save calendar and allow other users to access it
        //      dd 
        //        s Saving calendar
        //      dd app.js path to saved calendars (redirect to path after saving)
        //      dd Visitor giving name and adding personal times to calendar (student times = 2x strong)
