<%- include('includes/header.ejs') %>

    <form method="POST" action="/chart"><input type="hidden" name="_method" value="PUT" />
        <p>Major (leave blank to include all majors) <input type="text" name="subject" /></p>
        <!--p Term input(type="text", name="term")-->
        <p>Include General Education Classes? <input type="checkbox" name="geneds" /></p>
        <p><input type="submit" /></p>
    </form>

<%- include('includes/footer.ejs') %>